{% extends "base.html.twig" %}

{% block main %}
<p class="admin">INTERFACE ADMINISTRATOR<p>

<section class="text-center card img-w60">
    <h2>{{ category.name }}</h2>   
    <p>{{ category.description }}</p>
</section>
{% endblock %}