{% extends "base.html.twig" %}

{% block main %}

<section>
<h1>{{media.title}}</h1>
<p class="text-center"><small>Categorie</small>: <br> à ajouter</p>

<img src="{{ media.src }}" alt="{{ media.alt }}" class="img-w60"> 

</section>
{% endblock %}